<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teaghans MMA Inventory</title>
</head>
<body>
  <h1>Categories</h1>
  <ul>
    <%categories.forEach(cat => { %>
      <li><a href="/items?category=
        <%= cat.id%>"><%=cat.name %></a></li>
   <% }) %>
  </ul>
  <a href="/">Home</a>
  <a href="/categories/search">Search</a>
  <a href="/items/all">View all Items</a>
</body>
</html>