<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teaghans MMA Inventory</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <h1 class="section-title">Categories</h1>
  <ul class="item-list">
    <%categories.forEach(cat => { %>
      <li><a class="list-item" href="/items?category=
        <%= cat.id%>"><%=cat.name %></a></li>
   <% }) %>
  </ul>
  <div class="transition-buttons">
    <a href="/" class="nav-btn">Home</a>
    <a href="/categories/search" class="nav-btn">Search</a>
    <a href="/items/all" class="nav-btn">View all Items</a>
  </div>
</body>
</html>