<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Teaghans MMA Inventory</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="page-header">
      <main class="page-logo">
        <a href="/">
          <img
          src="/images/lightning-logo.png"
          alt="Thunder Bear Logo"
          class="small-logo"
        />
        </a>
      </main>
      <h1 class="section-title">Create Item</h1>
    </div>
    <form method="POST" action="/items/new">
      <label for="name">Name</label>
      <input type="text" id="itemName" name="name" />
      <label for="description">Description</label>
      <input type="text" id="itemDescription" name="description" />
      <label for="price">Price</label>
      <input type="number" id="price" name="price" min="0" step="0.01" />
      <label for="stock">Stock</label>
      <input type="number" id="stock" name="stock" min="0" step="1" />
      <label for="category">Category</label>
      <select id="category" name="category_id">
        <% categories.forEach(cat => { %>
          <option value="<%= cat.id %>"><%= cat.name %></option>
        <%})%>
      </select>
      <button type="submit" id="submitBtn">Submit</button>
    </form>
    <div class="transition-buttons">
      <a href="/items/" class="nav-btn" id="smallViewItems">View Existing Items</a>
    </div>
  </body>
</html>
