<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teaghans MMA Inventory Store</title>
  </head>
  <body>
    <h1>MMA Inventory</h1>
    <a href="/categories" class="browseCategoryBtn">Browse by Category</a>
    <a href="/items" class="viewAllItemsBtn">View all Items</a>
    <a href="/categories/new" class="newCategoryBtn">Add Category</a>
    <a href="/items/new" class="newItemBtn">Add Item</a>
  </body>
</html>
