<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teaghans MMA Inventory</title>
</head>
<body>
  <h1>Item Inventory</h1>
  <ul>
    <% items.forEach(item => { %>
      <li><%= item.name %></li>
   <% }) %>
  </ul>
  <div class="transition-buttons">
    <a href="/" class="nav-btn">Home</a>
    <a href="/categories" class="nav-btn">Categories</a>
  </div>
  
</body>
</html>