<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teaghans MMA Inventory</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div class="page-header">
    <main class="page-logo">
      <a href="/">
        <img
        src="/images/lightning-logo.png"
        alt="Thunder Bear Logo"
        class="small-logo"
      />
      </a>
    </main>
    <h1 class="section-title">Item Inventory</h1>
  </div>
  <div class="item-container">
    <% items.forEach(item => { %>
      <li>
        <span><%= item.name %></span>
        <span>x <%= item.stock %></span>
      </li>
    <% }) %>
  </div>
  
  <div class="transition-buttons">
    <a href="/" class="nav-btn">Home</a>
    <a href="/categories" class="nav-btn">Categories</a>
    <a href="/items/create" class="nav-btn">Add Item</a>
  </div>
</body>
</html>