<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teaghans MMA Inventory</title>
</head>
<body>
  <ul>
    <% items.forEach(item => { %>
      <li><%= item.name %></li>
   <% }) %>
  </ul>
  <a href="/">Home</a>
  <a href="/categories">Categories</a>
</body>
</html>