<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teaghans MMA INventory</title>
</head>
<body>
  <ul>
    <% items.forEach(item => { %>
      <li><%= item.name %></li>
   <% }) %>
  </ul>
</body>
</html>