<!DOCTYPE html>
<html>
  <body>
    <h1>Search Categories</h1>
    <form method="GET" action="/search">
      <input type="text" name="search" />
      <button type="submit">Search</button>
    </form>

    <ul>
      <% categories.forEach(category => { %>
        <li><%= category.name %></li>
     <% }) %>
    </ul>
    <div class="transition-buttons">
      <a href="/" class="nav-btn">Home</a>
    </div>
    
  </body>
</html>
