<!DOCTYPE html>
<html>
  <body>
    <h1>Search Items</h1>
    <form method="GET" action="/search">
      <input type="text" name="search" />
      <button type="submit">Search</button>
    </form>

    <ul>
      <% items.forEach(item => { %>
        <li><%=item.name %></li>
     <% }) %>
    </ul>
    <a href="/"> Home</a>
    <a href="/category">Categories</a>
  </body>
</html>