<!DOCTYPE html>
<html>
  <head></head>
  <title>Teaghan's MMA Inventory</title>

  <body>
    <h1>Update Category Info</h1>
    <form method="POST" action="/categories/new">
      <label for="name">Name</label>
      <input type="text" id="catName" name="name" />
      <label for="description">Description</label>
      <input type="text" id="catDescription" name="description" />
      <button type="submit" id="submitBtn">Submit</button>
    </form>
  </body>
</html>
