<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Teaghan's MMA Inventory</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="page-header">
      <main class="page-logo">
        <a href="/">
          <img
            src="/images/lightning-logo.png"
            alt="Thunder Bear Logo"
            class="small-logo"
          />
        </a>
      </main>
      <h1 class="section-title">Update Category Info</h1>
    </div>
    <form method="POST" action="/categories/new">
      <label for="name">Name</label>
      <input type="text" id="catName" name="name" />
<button type="submit" id="submitBtn">Submit</button>
    </form>
  </body>
</html>
